.mxd-hero-08
  // background-color: blue
  position: relative
  width: 100%
  height: auto
  padding-top: 6.6rem
  +MQ(XL)
    height: 100vh
    padding-top: 0

.mxd-hero-08__wrap
  position: relative
  padding-bottom: 5.2rem
  +MQ(XL)
    height: 100%
    padding-bottom: 0

.mxd-hero-08__top
  // background-color: pink
  padding-top: 14rem
  padding-bottom: 13.6rem
  +MQ(XL)
    position: absolute
    left: 0
    +center(y)
    width: 100%

.mxd-hero-08__marquee

.mxd-hero-08__bottom
  display: flex
  flex-direction: column
  +MQ(XL)
    +position(absolute, null null 0 0)
    width: 100%
    flex-direction: row
    align-items: flex-end
    justify-content: space-between
    padding: 0 3rem 3.5rem 3rem
  +MQ(XXXL)
    padding: 0 7rem 3.5rem 7rem

.mxd-hero-08__content
  +MQ(XL)
    // flex: 1

.mxd-hero-08__data
  max-width: 480px
  +MQ(XXXL)
    max-width: 540px

.mxd-hero-08__descr
  margin-top: 2.2rem
  margin-bottom: 2.3rem
  p
    font-size: 2.4rem
    line-height: 1.2
  +MQ(XL)
    margin-bottom: 3rem

.mxd-hero-08__socials
  margin-bottom: 2.1rem
  +MQ(XL)
    margin-bottom: 0

.mxd-hero-08__controls
  +MQ(XL)
    // flex: 1