.mxd-hero-landing
  position: relative
  width: 100%

.mxd-header
  // background-color: blue

.mxd-hero-landing__wrap
  position: relative
  padding-top: 13.6rem
  padding-bottom: 13rem
  +MQ(M)
    padding-top: 16.3rem
    padding-bottom: 15.5rem
  +MQ(XL)
    padding-top: 10.3rem
    padding-bottom: 16rem
  +MQ(XXXL)
    padding-top: 12.4rem
    padding-bottom: 18rem

.mxd-hero-landing__headline
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center

.mxd-hero-landing__subtitle
  mix-blend-mode: difference
  +MQ(XXXL)
    margin-bottom: 2.4rem

.mxd-hero-landing__title
  mix-blend-mode: difference
  max-width: 460px
  +MQ(M)
    max-width: 640px
  +MQ(XL)
    max-width: 1000px
  +MQ(XXXL)
    max-width: 1000px
