.mxd-demo-cta
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding-bottom: 14rem
  +MQ(M)
    padding-bottom: 17rem
  +MQ(XL)
    padding-bottom: 18rem
  +MQ(XXXL)
    padding-bottom: 20rem
  // fill padding bottom after adding to footer

.mxd-demo-cta__caption
  position: relative
  text-align: center
  h2
    margin: 0 auto
  +MQ(M)
    h2
      max-width: 1000px
  +MQ(XXXL)
    h2
      max-width: 1240px

.mxd-demo-cta__btn
  margin-top: 3.8rem
  +MQ(M)
    margin-top: 4rem
  +MQ(XL)
    margin-top: 4.7rem
  +MQ(XXXL)
    margin-top: 5.4rem