.marquee
  position: relative
  max-width: 100%
  overflow: hidden
  &.marquee-stack
    position: relative
    // +position(absolute, 0 0 0 0)
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 100%
    // background-color: red
  &.muted
    .marquee__text,
    .marquee__image
      color: var(--t-medium)
  &.muted-extra
    .marquee__text,
    .marquee__image
      color: var(--t-muted-extra)
  &.muted-extra-opposite
    .marquee__text,
    .marquee__image
      color: var(--t-opp-muted-extra)

.marquee--gsap

.marquee--gsap .marquee__top,
.marquee--gsap .marquee__bottom
  translate: calc(-100% + 100vw) !important

.marquee-right--gsap .marquee__toright,
.marquee-left--gsap .marquee__toleft
  translate: calc(-100% + 100vw) !important

.marquee__top,
.marquee__bottom,
.marquee__toleft,
.marquee__toright
  position: relative
  display: flex
  width: max-content
  will-change: transform

.marquee__images
  gap: 3rem
  align-items: flex-end
  &.align-start
    align-items: flex-start
    margin-top: 3rem
  &.align-center
    align-items: center

.marquee__logos
  align-items: center
  gap: 6rem
  // background-color: blue
  +MQ(M)
    gap: 10rem

.marquee__shadow
  position: absolute
  top: 0
  width: 10rem
  height: 100%
  &.left
    left: 0
    background: linear-gradient(to right, rgba(var(--base-rgb), 1) 0%, rgba(var(--base-rgb), 0) 100%)
  &.right
    right: 0
    background: linear-gradient(to right, rgba(var(--base-rgb), 0) 0%, rgba(var(--base-rgb), 1) 100%)

.marquee__item
  &.item-imageblock
    position: relative
    display: flex
    flex-direction: column
    gap: 0.6rem
    width: 200px
  &.item-hero
    width: 200px
  &.item-logoblock
    width: auto
    height: auto
    max-height: 3.6rem
    // background-color: green
    svg
      fill: var(--t-muted)
    img
      display: block
      width: auto
      height: auto
      max-height: 3.6rem
  +MQ(M)
    &.item-imageblock
      width: 300px
    &.item-hero
      display: block
      width: 280px
  +MQ(XXXL)
    &.item-hero
      display: block
      width: 380px

.marquee__text
  font: normal 400 calc( 25svh - 9rem ) var(--_font-accent)
  line-height: 1
  text-transform: uppercase
  letter-spacing: normal
  font-size: 25svh

.marquee__tags
  display: flex
  flex-direction: column
  align-items: flex-start

.marquee__image
  display: block
  position: relative
  width: 100%
  overflow: hidden
  img
    display: block
    width: 100%
    height: auto
    object-fit: cover
    transition: filter var(--_animspeed-medium), transform var(--_animspeed-medium) var(--_animbezier)
  .no-touch &:hover
    img
      // filter: blur(6px)
      transform: scale(1.05)

.marquee__component
  display: flex
  width: auto
  height: 200px
  overflow: hidden
  border: 1px solid var(--st-medium)
  +MQ(M)
    height: 280px
  +MQ(XXXL)
    height: 320px