.mxd-dv-sticky-cap
  position: relative
  width: 100%
  // overflow: hidden
  
.mxd-dv-sticky-cap__static
  position: sticky
  top: 0
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-between
  height: 100vh
  overflow: hidden
  z-index: 2
  padding: 13rem 0
  mix-blend-mode: difference
  // background-color: rgba(232, 82, 205, 0.5)
  +MQ(M)
    padding: 16.4rem 0 16rem 0
  +MQ(XL)
    padding: 17.4rem 0 16.5rem 0
  +MQ(XXXL)
    padding: 19.4rem 0 17.9rem 0

.mxd-dv-sticky-cap__scroll
  position: relative
  width: 100%
  display: flex
  flex-direction: column
  // gap: 8rem
  z-index: 1
  overflow: hidden
  padding-bottom: 100vh
  +MQ(M)
    gap: 19.5rem
    padding-bottom: 100vh
  +MQ(XL)
    gap: 19.5rem
  
.mxd-dv-sticky-cap__content
  position: relative
  width: 100%
  display: flex
  flex-direction: column
  align-items: center
  gap: 2.4rem
  padding: 0 3rem
  +MQ(M)
    max-width: 740px
    gap: 2rem
  +MQ(XL)
    max-width: 1140px
    gap: 2rem

.mxd-dv-sticky-cap__center
  position: absolute
  +center(y)
  display: flex
  justify-content: center
  width: 100%
  // background-color: red

.mxd-dv-sticky-cap__bottom,
.mxd-dv-sticky-cap__top
  display: flex
  justify-content: center
  width: 100%
  // background-color: red
  
.mxd-dv-sticky-cap__caption
  text-align: center
  h2
    line-height: 1.3
  
.mxd-dv-sticky-cap__text
  font: normal 700 3.6rem/1.2 var(--_font-default)
  letter-spacing: -0.1rem
  color: var(--t-bright)
  span
    color: var(--t-medium)
  &.permanent
    color: var(--nl-white)
    span
      color: var(--nl-white-06)
  &.opposite
    color: var(--t-opp-bright)
  +MQ(M)
    font-size: 5rem
    letter-spacing: -0.24rem
  +MQ(XL)
    font-size: 7rem
    letter-spacing: -0.3rem

.scroll-images-row
  // position: relative
  // display: flex
  // justify-content: space-between
  &.row-01
  &.row-02
  &.row-03
  &.row-04

.scroll-images-row__item
  display: flex
  align-items: center
  padding: 0 3rem
  margin-bottom: 10rem
  +MQ(M)
    margin-bottom: 0

.scroll-images-row__obj
  display: flex
  flex-direction: column
  gap: 0.6rem
  img
    width: 100%
    height: auto
    object-fit: cover

.scroll-images-row__tags
  display: flex
  flex-direction: column
  align-items: flex-start
  // padding-top: 0.4rem