/*! ------------------------------------------------
   Project Name: Azurio - Digital Agency & Personal Portfolio HTML Template
   Project Description: Stand out and express your uniqueness with Azurio - a vibrant and minimal HTML template for creatives, studios and freelancers. Impress your website visitors with a clean, stylish layout and stunning visuals.
   Tags: mix_design, resume, portfolio, personal page, cv, template, one page, responsive, html5, css3, creative, clean, agency, studio 
   Version: 1.0.0
   Build Date: March 2026
   Last Update: March 2026
   This product is available exclusively on Themeforest
   Author: mix_design
   Author URI: https://themeforest.net/user/mix_design */