// Import Data
@import "partials/data"
/*! File name: main.css
  ------------------------------------------------

  ------------------------------------------------
  Table of Contents
  ------------------------------------------------
    01. Fonts
    02. Variables
    03. Template Backgrounds
    04. Basic Styles
    05. Elements - Page Structure
    06. Elements - Typography
    07. Elements - Cursor
    08. Elements - Controls
    09. Elements - Forms
    09. Core - Header
    10. Core - Menu
    11. Core - Footer
    12. Core - Inner Headline
    13. Core - 404
    14. Hero - Hero #01
    15. Hero - Hero #02
    16. Hero - Hero #03
    17. Hero - Hero #04
    18. Hero - Hero #05
    19. Hero - Hero #06
    20. Hero - Hero #07
    21. Hero - Hero #08
    22. Hero - Hero #09
    22. Hero - Hero #10
    23. Landing - Hero
    24. Landing - Demo Grid
    25. Landing - Stack
    26. Landing - Marquee
    27. Landing - Responsive Promo
    28. Landing - Slider
    29. Landing - Components
    30. Landing - Features
    31. Landing - CTA
    32. Landing - Footer
    33. Features - Statistics Lines
    34. Features - Marquee
    35. Features - Matter.js Blocks
    36. Features - Accordion
    37. Block - About Teaser
    38. Block - About Images
    39. Block - About Process
    40. Block - About Mission
    41. Block - About Team
    42. Block - Description Split
    43. Block - Projects ClipPath
    44. Block - Projects Grid
    45. Block - Projects Stack Cards
    46. Block - Projects List
    47. Block - Services List
    48. Block - Services Capabilities List
    49. Block - Services Stack
    50. Block - Resume List
    51. Block - Awards List
    52. Block - Team List
    53. Block - Team Grid
    54. Block - Toolbox List
    55. Block - Tech Stack List
    56. Block - Niche Cards
    57. Block - Partners/Clients
    58. Block - Testimonials Sticky
    59. Block - Testimonials Slider
    60. Block - Testimonials Project
    61. Block - Next Project
    62. Block - Blog Preview Grid
    63. Block - Blog Preview List
    64. Block - Blog Page
    65. Block - Blog Article Page
    66. Block - CTA
    67. Divider - Dividers Simple
    68. Divider - Sticky Images
    69. Divider - Sticky Caption
    70. Block - Pricing Cards
    71. Block - Split Blocks
    72. Block - Images Grid
  ------------------------------------------------
  Table of Contents End
  ------------------------------------------------ */

/* ------------------------------------------------*/
/* Fonts Start
/* ------------------------------------------------*/
/* Manrope Font */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap')
/* JetBrains Mono Font */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap')
/* ------------------------------------------------*/
/* Fonts End
/* ------------------------------------------------*/

// Import Bourbon
@import "bourbon"

// Import Libs, Mixins and Variables
@import "partials/layout"
@import "partials/mixins"

/* ------------------------------------------------*/
/* Variables Start
/* ------------------------------------------------*/
@import "partials/variables"
/* ------------------------------------------------*/
/* Variables End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Template Backgrounds Start
/* ------------------------------------------------*/
// hero backgrounds
.mxd-hero-01
  background-image: url(https://dummyimage.com/1920x1200/5d5d5d/838383)
.mxd-hero-09
  background-image: url(https://dummyimage.com/1920x1200/5d5d5d/838383)
// parallax image dividers
.divider-image-1
  background-image: url(https://dummyimage.com/1920x1080/5d5d5d/838383)
.divider-image-2
  background-image: url(https://dummyimage.com/1920x1200/5d5d5d/838383)
.divider-image-3
  background-image: url(https://dummyimage.com/1920x1200/5d5d5d/838383)
.divider-image-4
  background-image: url(https://dummyimage.com/1920x1200/5d5d5d/838383)
.divider-image-5
  background-image: url(https://dummyimage.com/1920x1200/5d5d5d/838383)
.divider-image-6
  background-image: url(https://dummyimage.com/1920x1200/5d5d5d/838383)
.divider-image-7
  background-image: url(https://dummyimage.com/1920x1200/5d5d5d/838383)
.divider-image-8
  background-image: url(https://dummyimage.com/1920x1200/5d5d5d/838383)
.divider-image-9
  background-image: url(https://dummyimage.com/1920x1200/5d5d5d/838383)
.divider-image-10
  background-image: url(https://dummyimage.com/1920x1200/5d5d5d/838383)
.divider-image-11
  background-image: url(https://dummyimage.com/1920x1200/5d5d5d/838383)
.divider-image-12
  background-image: url(https://dummyimage.com/1920x1200/5d5d5d/838383)
.divider-image-13
  background-image: url(https://dummyimage.com/1920x1200/5d5d5d/838383)
.divider-image-14
  background-image: url(https://dummyimage.com/1920x1200/5d5d5d/838383)
/* ------------------------------------------------*/
/* Template Backgrounds End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Basic Styles Start
/* ------------------------------------------------*/
@import "modules/00-base"
/* ------------------------------------------------*/
/* Basic Styles End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Elements - Page Structure Start
/* ------------------------------------------------*/
@import "modules/01-elements-page"
/* ------------------------------------------------*/
/* Elements - Page Structure End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Elements - Typography Start
/* ------------------------------------------------*/
@import "modules/02-elements-type"
/* ------------------------------------------------*/
/* Elements - Typography End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Elements - Cursor Start
/* ------------------------------------------------*/
@import "modules/03-elements-cursor"
/* ------------------------------------------------*/
/* Elements - Cursor End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Elements - Controls Start
/* ------------------------------------------------*/
@import "modules/04-elements-controls"
/* ------------------------------------------------*/
/* Elements - Controls End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Elements - Forms Start
/* ------------------------------------------------*/
@import "modules/05-elements-forms"
/* ------------------------------------------------*/
/* Elements - Forms End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Core - Header Start
/* ------------------------------------------------*/
@import "modules/06-core-header"
/* ------------------------------------------------*/
/* Core - Header End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Core - Menu Start
/* ------------------------------------------------*/
@import "modules/07-core-menu"
/* ------------------------------------------------*/
/* Core - Menu End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Core - Footer Start
/* ------------------------------------------------*/
@import "modules/08-core-footer"
/* ------------------------------------------------*/
/* Core - Footer End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Core - Inner Headline Start
/* ------------------------------------------------*/
@import "modules/09-core-inner-headline"
/* ------------------------------------------------*/
/* Core - Inner Headline End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Core - 404 Start
/* ------------------------------------------------*/
@import "modules/10-core-404"
/* ------------------------------------------------*/
/* Core - 404 End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Hero - Hero #01 Start
/* ------------------------------------------------*/
@import "modules/11-hero-01"
/* ------------------------------------------------*/
/* Hero - Hero #01 End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Hero - Hero #02 Start
/* ------------------------------------------------*/
@import "modules/12-hero-02"
/* ------------------------------------------------*/
/* Hero - Hero #02 End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Hero - Hero #03 Start
/* ------------------------------------------------*/
@import "modules/13-hero-03"
/* ------------------------------------------------*/
/* Hero - Hero #03 End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Hero - Hero #04 Start
/* ------------------------------------------------*/
@import "modules/14-hero-04"
/* ------------------------------------------------*/
/* Hero - Hero #04 End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Hero - Hero #05 Start
/* ------------------------------------------------*/
@import "modules/15-hero-05"
/* ------------------------------------------------*/
/* Hero - Hero #05 End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Hero - Hero #06 Start
/* ------------------------------------------------*/
@import "modules/16-hero-06"
/* ------------------------------------------------*/
/* Hero - Hero #06 End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Hero - Hero #07 Start
/* ------------------------------------------------*/
@import "modules/17-hero-07"
/* ------------------------------------------------*/
/* Hero - Hero #07 End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Hero - Hero #08 Start
/* ------------------------------------------------*/
@import "modules/18-hero-08"
/* ------------------------------------------------*/
/* Hero - Hero #08 End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Hero - Hero #09 Start
/* ------------------------------------------------*/
@import "modules/19-hero-09"
/* ------------------------------------------------*/
/* Hero - Hero #09 End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Hero - Hero #10 Start
/* ------------------------------------------------*/
@import "modules/20-hero-10"
/* ------------------------------------------------*/
/* Hero - Hero #10 End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Landing - Hero Start
/* ------------------------------------------------*/
@import "modules/21-landing-hero"
/* ------------------------------------------------*/
/* Landing - Hero End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Landing - Demo Grid Start
/* ------------------------------------------------*/
@import "modules/22-landing-demo-grid"
/* ------------------------------------------------*/
/* Landing - Demo Grid End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Landing - Stack Start
/* ------------------------------------------------*/
@import "modules/23-landing-stack"
/* ------------------------------------------------*/
/* Landing - Stack End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Landing - Marquee Start
/* ------------------------------------------------*/
@import "modules/24-landing-marquee"
/* ------------------------------------------------*/
/* Landing - Marquee End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Landing - Responsive Promo Start
/* ------------------------------------------------*/
@import "modules/25-landing-resp"
/* ------------------------------------------------*/
/* Landing - Responsive Promo End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Landing - Slider Start
/* ------------------------------------------------*/
@import "modules/26-landing-slider"
/* ------------------------------------------------*/
/* Landing - Slider End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Landing - Components Start
/* ------------------------------------------------*/
@import "modules/27-landing-components"
/* ------------------------------------------------*/
/* Landing - Components End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Landing - Features Start
/* ------------------------------------------------*/
@import "modules/28-landing-features"
/* ------------------------------------------------*/
/* Landing - Features End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Landing - CTA Start
/* ------------------------------------------------*/
@import "modules/29-landing-cta"
/* ------------------------------------------------*/
/* Landing - CTA End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Landing - Footer Start
/* ------------------------------------------------*/
@import "modules/30-landing-footer"
/* ------------------------------------------------*/
/* Landing - Footer End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Features - Statistics Lines Start
/* ------------------------------------------------*/
@import "modules/31-features-stats-lines"
/* ------------------------------------------------*/
/* Features - Statistics Lines End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Features - Marquee Start
/* ------------------------------------------------*/
@import "modules/32-features-marquee"
/* ------------------------------------------------*/
/* Features - Marquee End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Features - Matter.js Blocks Start
/* ------------------------------------------------*/
@import "modules/33-features-matter"
/* ------------------------------------------------*/
/* Features - Matter.js Blocks End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Features - Accordion Start
/* ------------------------------------------------*/
@import "modules/34-features-accordion"
/* ------------------------------------------------*/
/* Features - Accordion End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Block - About Teaser Start
/* ------------------------------------------------*/
@import "modules/35-about-teaser"
/* ------------------------------------------------*/
/* Block - About Teaser End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Block - About Images Start
/* ------------------------------------------------*/
@import "modules/36-about-images"
/* ------------------------------------------------*/
/* Block - About Images End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Block - About Process Start
/* ------------------------------------------------*/
@import "modules/37-about-process"
/* ------------------------------------------------*/
/* Block - About Process End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Block - About Mission Start
/* ------------------------------------------------*/
@import "modules/38-about-mission"
/* ------------------------------------------------*/
/* Block - About Mission End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Block - About Team Start
/* ------------------------------------------------*/
@import "modules/39-about-team"
/* ------------------------------------------------*/
/* Block - About Team End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Block - Description Split Start
/* ------------------------------------------------*/
@import "modules/40-descr-split"
/* ------------------------------------------------*/
/* Block - Description Split End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Block - Projects ClipPath Start
/* ------------------------------------------------*/
@import "modules/41-projects-clippath"
/* ------------------------------------------------*/
/* Block - Projects ClipPath End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Block - Projects Grid Start
/* ------------------------------------------------*/
@import "modules/42-projects-grid"
/* ------------------------------------------------*/
/* Block - Projects Grid End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Block - Projects Stack Cards Start
/* ------------------------------------------------*/
@import "modules/43-projects-stack"
/* ------------------------------------------------*/
/* Block - Projects Stack Cards End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Block - Projects List Start
/* ------------------------------------------------*/
@import "modules/44-projects-list"
/* ------------------------------------------------*/
/* Block - Projects List End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Block - Services List Start
/* ------------------------------------------------*/
@import "modules/45-services-list"
/* ------------------------------------------------*/
/* Block - Services List End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Block - Services Capabilities List Start
/* ------------------------------------------------*/
@import "modules/46-services-cpb-list"
/* ------------------------------------------------*/
/* Block - Services Capabilities List End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Block - Services Stack Start
/* ------------------------------------------------*/
@import "modules/47-services-stack"
/* ------------------------------------------------*/
/* Block - Services Stack End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Block - Resume List Start
/* ------------------------------------------------*/
@import "modules/48-resume-list"
/* ------------------------------------------------*/
/* Block - Resume List End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Block - Awards List Start
/* ------------------------------------------------*/
@import "modules/49-awards-list"
/* ------------------------------------------------*/
/* Block - Awards List End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Block - Team List Start
/* ------------------------------------------------*/
@import "modules/50-team-list"
/* ------------------------------------------------*/
/* Block - Team List End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Block - Team Grid Start
/* ------------------------------------------------*/
@import "modules/51-team-grid"
/* ------------------------------------------------*/
/* Block - Team Grid End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Block - Toolbox List Start
/* ------------------------------------------------*/
@import "modules/52-toolbox-list"
/* ------------------------------------------------*/
/* Block - Toolbox List End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Block - Tech Stack List Start
/* ------------------------------------------------*/
@import "modules/53-tech-stack-list"
/* ------------------------------------------------*/
/* Block - Tech Stack List End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Block - Niche Cards Start
/* ------------------------------------------------*/
@import "modules/54-services-niche-cards"
/* ------------------------------------------------*/
/* Block - Niche Cards End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Block - Partners/Clients Start
/* ------------------------------------------------*/
@import "modules/55-clients"
/* ------------------------------------------------*/
/* Block - Partners/Clients End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Block - Testimonials Sticky Start
/* ------------------------------------------------*/
@import "modules/56-testimonials-sticky"
/* ------------------------------------------------*/
/* Block - Testimonials Sticky End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Block - Testimonials Slider Start
/* ------------------------------------------------*/
@import "modules/57-testimonials-slider"
/* ------------------------------------------------*/
/* Block - Testimonials Slider End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Block - Testimonials Project Start
/* ------------------------------------------------*/
@import "modules/58-testimonials-project"
/* ------------------------------------------------*/
/* Block - Testimonials Project End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Block - Next Project Start
/* ------------------------------------------------*/
@import "modules/59-block-next-project"
/* ------------------------------------------------*/
/* Block - Next Project End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Block - Blog Preview Grid Start
/* ------------------------------------------------*/
@import "modules/60-blog-preview-grid"
/* ------------------------------------------------*/
/* Block - Blog Preview Grid End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Block - Blog Preview List Start
/* ------------------------------------------------*/
@import "modules/61-blog-preview-list"
/* ------------------------------------------------*/
/* Block - Blog Preview List End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Block - Blog Page Start
/* ------------------------------------------------*/
@import "modules/62-blog"
/* ------------------------------------------------*/
/* Block - Blog Page End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Block - Blog Article Page Start
/* ------------------------------------------------*/
@import "modules/63-blog-article"
/* ------------------------------------------------*/
/* Block - Blog Article Page End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Block - CTA Start
/* ------------------------------------------------*/
@import "modules/64-cta"
/* ------------------------------------------------*/
/* Block - CTA End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Divider - Dividers Simple Start
/* ------------------------------------------------*/
@import "modules/65-dividers-simple"
/* ------------------------------------------------*/
/* Divider - Dividers Simple End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Divider - Sticky Images Start
/* ------------------------------------------------*/
@import "modules/66-dividers-sticky-images"
/* ------------------------------------------------*/
/* Divider - Sticky Images End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Divider - Sticky Caption Start
/* ------------------------------------------------*/
@import "modules/67-dividers-sticky-caption"
/* ------------------------------------------------*/
/* Divider - Sticky Caption End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Block - Pricing Cards Start
/* ------------------------------------------------*/
@import "modules/68-block-pricing"
/* ------------------------------------------------*/
/* Block - Pricing Cards End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Block - Split Blocks Start
/* ------------------------------------------------*/
@import "modules/69-block-split"
/* ------------------------------------------------*/
/* Block - Split Blocks End
/* ------------------------------------------------*/

/* ------------------------------------------------*/
/* Block - Images Grid Start
/* ------------------------------------------------*/
@import "modules/70-block-images-grid"
/* ------------------------------------------------*/
/* Block - Images Grid End
/* ------------------------------------------------*/
